 .navbar {
     margin-bottom: 30px;
     background-color: gray;
 }

 .footer-bottom {
    background-color: grey;
    color: white;
    bottom: 0;
    padding: 10px;
}

.card {
    display: inline-block;
    margin: 30px;
    min-width: 500px;
    min-height: 700px;
}